#content-student>div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1acat7d-MuiPaper-root>div.MuiPaper-root.ForwardRef-root-1.MuiPaper-elevation1.MuiPaper-rounded>button.MuiButtonBase-root.MuiIconButton-root.ForwardRef-iconButton-2.ForwardRef-searchIconButton-4>span.MuiTouchRipple-root {
    width: 124px !important;
}

#content-student>div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1acat7d-MuiPaper-root>div.MuiPaper-root.ForwardRef-root-1.MuiPaper-elevation1.MuiPaper-rounded>button.MuiButtonBase-root.MuiIconButton-root.ForwardRef-iconButton-2.ForwardRef-searchIconButton-4 {
    width: 136px;
}

#content-student>div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1acat7d-MuiPaper-root>div.MuiTableContainer-root.css-rorn0c-MuiTableContainer-root>table>thead>tr>th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.t-cell{
    font-weight: bold !important;
    font-size: 1rem;
}

#content-student > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1acat7d-MuiPaper-root{
    margin-left: -0.05rem;
}